<h3>Quiz</h3>

<%= will_paginate @questions, :renderer => BootstrapPagination::Rails %><br>

<% @questions.each_with_index do |q, i| %>
<%= simple_form_for q do |f| %>
  	<h4><%= q.question %></h4>
  	<% @options[i].each do |opt| %>
  		<div class="radio">
			  <label>
			  	<% opt_without_spaces = opt.gsub(' ', '_') %> 
			    <input type="radio" name="choices" id= <%= opt_without_spaces %>
			    value= <%= opt_without_spaces %> > <%= opt %>
			  </label>
			</div>
  	<% end %>
  	
  <% end %>
<% end %>