<%= will_paginate @quizzes, :renderer => BootstrapPagination::Rails %><br>
<table class="table">
	<tr>
		<th>Date</th>
		<th>Subject</th>
		<th>Correct</th>
		<th></th>
	</tr>
	<% @quizzes.each_with_index do |quiz, i| %>
		<tr>
			<td><%= quiz.created_at.strftime("%e %b %Y %H:%M %p") %></td>
			<td><%= Subject.find(quiz.subject_id).subject %></td>
			<td><%= quiz.score %>%</td>
			<td><a class="btn btn-info btn-sm" href=<%= quiz_path(id: quiz.id, user_id: quiz.user_id, subject_id: quiz.subject_id) %> > View</a></td>
		</tr>
	<% end %>
</table>

<%=link_to "< Back", root_path %>
