<%=link_to "< Back", root_path %>

<h2>New <%=Subject.find(@subject_id).subject %> Quiz</h2>

<%= simple_form_for @quiz do |f| %>
  <%= f.hidden_field :user_id, value: @user_id %>
  <%= f.hidden_field :subject_id, value: @subject_id %>
  <%= f.hidden_field :answered_question, value: "" %>

  <% @questions.each_with_index do |question, i| %>
    <div id="question"><h3 class="hidden"><%= @question_ids[i] %></h3>
    <h4><%= question.question %></h4>
      <% @choices[i].each do |c| %>
        <h6><%= radio_button_tag :answered_question, c %> <%= c %></h6>
      <% end %>
    </div>
  <% end %>

  <%= f.button :submit, "Get Results" %>
<% end %>
