<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<h2>New Quiz</h2>

<%= simple_form_for @quiz do |f| %>
  <%= f.hidden_field :user_id, value: @user_id %>
  <%= f.hidden_field :subject_id, value: @subject_id %>
  <%= f.hidden_field :answered_question, value: "" %>

  <% @questions.each_with_index do |question, i| %>
    <div id="question"><h3 class="hidden"><%= @question_ids[i] %></h3>
    <h4><%= question.question %></h4>
      <% @choices[i].each do |c| %>
        <h6><%= radio_button_tag :answered_question, c %> <%= c %></h6>
      <% end %>
    </div>
  <% end %>

  <%= f.button :submit, "Get Results" %>
<% end %>


<script>
  var totalQuestions = 0;
  var jsonObject = '{"answers":[]}';

  $(document).ready(function() {
    $("input:radio[name=answered_question]").click(function() {
      var answer = $("input:radio[name=answered_question]:checked").val();
      var question_id = $("input:radio[name=answered_question]:checked").closest("#question").children("h3").html();

      var parseObj = JSON.parse(jsonObject);
      parseObj["answers"].push({"question_id": + question_id, "answer": answer});
      jsonObject = JSON.stringify(parseObj);

      totalQuestions = totalQuestions + 1;

      if(totalQuestions == 10){
        $("input#quiz_answered_question").val(jsonObject);
        console.log(jsonObject);
      }

      $("input:radio[name=answered_question]:checked").closest("#question").hide();
     });
  });
</script>