<h2>Subject show</h2>

<div>
	<h3><%= @subject.id %></h3>
	<h3><%= @subject.subject %></h3>
	<h3><%= @subject.difficulty %></h3>
	<h3><%= @subject.points %></h3>
</div>

<%=link_to "Add new subject", new_subject_path %>
<%=link_to "Back to Admin", admin_pages_path %>